---
import BlogPost from '../../layouts/BlogPost.astro';
import { GraphQLClient } from "graphql-request";
// import { Debug } from 'astro/components';
import type { Page } from '../../types/page';

const client = new GraphQLClient(import.meta.env.ASTRO_HYGRAPH_ENDPOINT);


export function getStaticPaths() {
  return [
    { params: { slug: "hygraph-works-with-any-framework" } },
    { params: { slug: "any-framework-will-work" } },
    { params: { slug: "implementation-guides" } },
  ];
}
const { slug } = Astro.params;

type PageResponse = {
  page: Page;
};

const { page }: PageResponse = await client.request(
  `
  query Page($slug: String!) {
    page(where: { slug: $slug }) {
      title
      slug
      publishedAt
      updatedAt
      heroImage {
        id
        url
        mimeType
      }
      body {
        text
      }
    }
  }
  `,
  {
    slug,
  }
);


---

<BlogPost {...page}>
  <div class="m-12">
    <p class="mb-8 text-lg">{page.body.text}</p>

    <p>
      <a href="/" class="underline">Back to homepage</a>
    </p>
  </div>
</BlogPost>